/GumballMachine.class
/Main.class
/AllCoinMachine.class
/SingleQuarterGamballMachine.class
/TwoQuarterMachine.class
/DupletQuartersGamballMachine.class
/FiftyCentsMachine.class
/AcceptedCoins.class
/QuartersAcceptingGamballMachine.class
/MultipleCurrencyAcceptingGamBallMachine.class
/AmountNeededForGumBalls.class
/AmountNeededForGumBall.class
/CostForAGumBall.class
/QuartersAcceptingGamballMachine1.class
/MultipleCurrencyAcceptingGamBallMachine1.class
/MultiCoinsAcceptingGamBallMachine.class
